body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bot-light: #f1dac4;
  --user-light: #988d9f;
  --user-highlight: #484b79;
  --background-dark: #252525;
  --background-highlight: #161B33;
  --light-text: #fff;
  --user-light-hover: #867d8b;
}